h1 {
  text-align: center;
  background-color: aqua;
}
button {
  height: 40px;
margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;

}
/* #contain {
  height: 900px;
  width: 100%;
  border: 2px solid red;
} */

.length,
.length1,
.length2,
.length3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
  color: black;
}

.title-class {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l1,
.l2,
.l3,
.l4,
.l5,
.l6,
.l7,
.l8,
.l9,
.l10,
.l11,
.l12 {
  height: 200px;
  border: 2px solid rgb(128, 58, 0);
  border-radius: 20px;
  width: 20%;
  background-color:rgb(53, 198, 198);
}
h2 {
  color: brown;
  display: flex;
  justify-content: center;
}

